body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.header {
  font-weight: 600;
  font-size: 30px;
}
.container {
  /* margin-left: 40px !important; */
}
.title-text {
  font-size: 2.2em;
  margin-left: auto;
}
img {
  width: 90px;
}
@media screen and (max-width: 800px) {
  .title-text {
    font-size: 1.9rem;
  }
}

.first-info {
  margin-top: 50px;
}

.minister {
  font-size: 22px;
}
.mos {
  font-size: 22px;
}

.more-info {
  font-size: 18px !important;
  margin-right: auto;
}
.address {
  font-size: 18px;
  margin: 14px 0 14px 0;
}
.second-info {
  /* margin: auto !important; */
}

.bg-color {
  background-color: bisque;
}
